- K nearest neighbour
- for classfication
- can also be used for imputation: K-NN Imputer
- assigns a data point of a particular class depending on the distance- Euclidean distance
- if first neighbour distance are equal then considers the next neighbours
- depending on the count of neighbours in assigns the class
- K value- Hyperparameter: count of neighbours
- lazy learning algorithm

- KNNimputer() paramters:
    - n_ neighbours
    - metric: Euclidean distance is the default one
    - weights

## KNN imputer

In [5]:
# Importing libraries
from sklearn.impute import KNNImputer
import numpy as np
import pandas as pd

### Creating Dataset for marks of students

In [8]:
dict={'Maths':[85,91,np.nan,91],
     'Chemistry':[72,75,74,np.nan],
      'Physics':[np.nan,68,82,81],
     'Biology':[81,81,72,np.nan]}

In [7]:
dict

{'Maths': [85, 91, nan, 91],
 'Chemistry': [72, 75, 74, nan],
 'Physics': [nan, 68, 82, 83],
 'Biology': [81, 81, 72, nan]}

In [9]:
Before_Imputation=pd.DataFrame(dict)
Before_Imputation

   Maths  Chemistry  Physics  Biology
0   85.0       72.0      NaN     81.0
1   91.0       75.0     68.0     81.0
2    NaN       74.0     82.0     72.0
3   91.0        NaN     81.0      NaN

### Replace the values with KNN Imputer

In [12]:
imputer=KNNImputer(n_neighbors=2) #imputer: object of KNNImputer
After_Imputation=imputer.fit_transform(Before_Imputation)

In [14]:
Before_Imputation.columns

Index(['Maths', 'Chemistry', 'Physics', 'Biology'], dtype='object')

In [15]:
After_Imputation=pd.DataFrame(After_Imputation,columns=Before_Imputation.columns) #if columns is not specified we default get 0,1,2,3,...

In [16]:
After_Imputation

   Maths  Chemistry  Physics  Biology
0   85.0       72.0     74.5     81.0
1   91.0       75.0     68.0     81.0
2   88.0       74.0     82.0     72.0
3   91.0       73.0     81.0     76.5